.button-container {
  /* RESET */
  -webkit-appearance: none;
  background: none;
  border: 0;
  box-shadow: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  text-align: inherit;

  align-items: center;

  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 8px;
}

/* Button Variants */
.default {
  background: black;
  border: 1px solid gray;
  color: white;
}
.error {
}
.success {
}
.warning {
}
